.App {
  text-align: center;
}


li{
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

.container {
  /* This is the magic bit for Firefox */
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

.selected {
  border: 1px solid #0000ff;
}